# dependencies (bun install)
node_modules

# output
out
dist
dist-bin
*.tgz

# fossilize build cache
.node-cache

# code coverage
coverage
*.lcov

# test artifacts
.test-tmp

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo
.turbo

# docs
docs/dist
docs/node_modules
docs/.astro

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
