name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: true
      force:
        description: Force release
        default: false
        type: boolean
      merge_target:
        description: Merge target branch
        required: false

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release a new version
    steps:
      - name: Get auth token
        id: token
        uses: actions/create-github-app-token@v2.2.1
        with:
          app-id: ${{ vars.SENTRY_RELEASE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.SENTRY_RELEASE_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0

      # Required for preReleaseCommand (generates API client from openapi spec)
      - uses: oven-sh/setup-bun@v2

      - run: bun install --frozen-lockfile

      - name: Prepare release
        uses: getsentry/craft@v2
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          version: ${{ inputs.version }}
          force: ${{ inputs.force }}
          merge_target: ${{ inputs.merge_target }}
